.media {
  object-fit: cover;
  height: 450px;
  width: 100%;

}

.border {
  border: solid;
}

.fullHeightCard {
  height: 100%
}

.card {
  width: 412px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 10px solid white;
  margin: 10px;
}

.activeCard {
  border-bottom: 10px solid #22289a;
}

.grid {
  display: flex;
}

.details {
  margin: 20px;
}

.title {
  padding: 0 16px;
}

.cardActions {
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}
